name: dependabot-dist

on:
  push:
    branches: ["dependabot/**"]
    paths:
      - '**.js'
      - '**.ts'
      - '**.json'
  pull_request:
    branches: [ "dependabot/**" ]


permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
        cache: npm

    - run: npm ci

    - name: Build
      run: npm run build

    - name: Commit and push dist/
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

        git status
        git add dist/
        if [[ -n "$(git status --porcelain --untracked-files=no)" ]]; then
          git commit -m "dependabot dist"
          git status
          git push
        fi
