name: Tests

on:
  pull_request:
    branches:
      - main
      - '**'
  push:
    branches:
      - main
      - '**'

jobs:
  # Build and unit test
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    env:
      AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
      AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
      AWS_REGION: us-east-1
      AWS_ENDPOINT_URL: http://localhost:4566
      AWS_S3_BUCKET: tmp-cache-bucket
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
        cache: npm
    - run: npm ci
    - name: Prettier Format Check
      run: npm run format-check
    - name: ESLint Check
      run: npm run lint
    - name: Build & Test
      run: npm run test


  # End to end save and restore
  test-save:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    services:
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: s3
          AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
          AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
        ports:
          - 4566:4566
          - 4572:4572

    steps:
    - name: create bucket
      env:
        AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
        AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
        AWS_REGION: us-east-1
        AWS_ENDPOINT_URL: http://localhost:4566
      run: |
        aws --no-cli-pager --endpoint-url=http://127.0.0.1:4566 s3api create-bucket --bucket tmp-cache-bucket

    - name: Checkout
      uses: actions/checkout@v6
    - name: Generate files in working directory
      shell: bash
      run: __tests__/create-cache-files.sh ${{ runner.os }} test-cache
    - name: Generate files outside working directory
      shell: bash
      run: __tests__/create-cache-files.sh ${{ runner.os }} ~/test-cache
    - name: Save cache
      uses: ./

      with:
        key: test-${{ runner.os }}-${{ github.run_id }}
        path: |-
          test-cache
          ~/test-cache
        aws-s3-bucket: tmp-cache-bucket
        aws-endpoint: http://localhost:4566
        aws-region: us-east-1
        aws-access-key-id: LSIAQAAAAAAVNCBMPNSG
        aws-secret-access-key: LSIAQAAAAAAVNCBMPNSG
        aws-s3-bucket-endpoint: false
        aws-s3-force-path-style: true

  test-restore:
    services:
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: s3
          AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
          AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
        ports:
          - 4566:4566

    #needs: test-save # localstack is ephemeral to each job
    strategy:
      matrix:
        os: [ubuntu-latest] #, macOS-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: create bucket
      env:
        AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
        AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
        AWS_REGION: us-east-1
        AWS_ENDPOINT_URL: http://localhost:4566
      run: |
        __tests__/create-cache-files.sh ${{ runner.os }} test-cache
        __tests__/create-cache-files.sh ${{ runner.os }} ~/test-cache
        #tar -cvzf test-${{ runner.os }}-${{ github.run_id }} test-cache ~/test-cache
        #echo "Content of current tar"
        #tar -tvzf test-${{ runner.os }}-${{ github.run_id }}

        echo "Content of ~/test-cache"
        find ~/test-cache
        echo "Content of $(pwd)/test-cache"
        find $(pwd)/test-cache

        echo "creating bucket and uploading cache tar"
        aws --no-cli-pager --endpoint-url=http://127.0.0.1:4566 s3api create-bucket --bucket tmp-cache-bucket
        
    - name: Save
      uses: ./save
      with:
        key: test-${{ runner.os }}-${{ github.run_id }}
        path: |-
          test-cache
          ~/test-cache
        aws-s3-bucket: tmp-cache-bucket
        aws-endpoint: http://localhost:4566
        aws-region: us-east-1
        aws-access-key-id: LSIAQAAAAAAVNCBMPNSG
        aws-secret-access-key: LSIAQAAAAAAVNCBMPNSG
        aws-s3-bucket-endpoint: false
        aws-s3-force-path-style: true

    - name: Verify content of s3 cache and remove local files
      env:
        AWS_ACCESS_KEY_ID: LSIAQAAAAAAVNCBMPNSG
        AWS_SECRET_ACCESS_KEY: LSIAQAAAAAAVNCBMPNSG
        AWS_REGION: us-east-1
        AWS_ENDPOINT_URL: http://localhost:4566
      run: |
        rm -r test-cache ~/test-cache
        aws --no-cli-pager --endpoint-url=http://127.0.0.1:4566 s3 ls s3://tmp-cache-bucket

    - name: Restore cache
      uses: ./restore
      with:
        key: test-${{ runner.os }}-${{ github.run_id }}
        path: |-
          test-cache
          ~/test-cache
        aws-s3-bucket: tmp-cache-bucket
        aws-endpoint: http://localhost:4566
        aws-region: us-east-1
        aws-access-key-id: LSIAQAAAAAAVNCBMPNSG
        aws-secret-access-key: LSIAQAAAAAAVNCBMPNSG
        aws-s3-bucket-endpoint: false
        aws-s3-force-path-style: true
    - name: Verify cache files in working directory
      shell: bash
      run: __tests__/verify-cache-files.sh ${{ runner.os }} test-cache
    - name: Verify cache files outside working directory
      shell: bash
      run: __tests__/verify-cache-files.sh ${{ runner.os }} ~/test-cache
